.header {
  background-color: #3367d6;
  padding: 18px 30px;
  display: flex;
}
.image-container {
  flex-shrink: unset;
}
.search-container {
  width: 400px;
  display: flex;
  margin: auto;
  position: relative;
}
.search-icon-container {
  position: absolute;
  left: 8px;
  top: 2px;
  z-index: 1;
}
.search-input-container {
  width: 100%;
}
.input-search {
  width: 100%;
  padding: 8px 40px;
  outline: none;
  border: none;
  background-color: #2850a7;
  color: #ffffff;
}
.no-history {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
